@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Homemade+Apple&display=swap');


:root {
   
    --cor0: #a60303;
    --cor1: #e77728;
    --cor2: #ede580;

    --fonte-destaque: 'Bad Script', 'cursive', sans-serif;
    --fonte-padrão: 'Noto Serif Display', 'cursive', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fonte-padrão);
    min-height: 100vh;
}

a {
    text-decoration: none;
}

nav {
    background-color: var(--cor0);

    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
}

nav > a {
    text-decoration: none;
    font-size: 12px;
    color: white;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: inline-block;
    text-transform: uppercase;
}

nav > a:hover {
    font-weight: bolder;
}

section#apresentacao {
    position: relative;
    background-image: url(../estilo/imagens/templates/home03.jpg);
    color: black;

    min-height: 80vh;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.308)
}

#entradas {
    background-color: #F7F7F7;

    min-height: 80vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#entradas > h1 {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 2.5em;

    text-align: center;
}

#entradas > img {
    width: 300px;
}